div.codehilite > pre {
  background-color: black;
  padding: 1em;
  border-radius: 5px;
  font-size: 110%;
/*  font-weight: bolder;*/
}
/*
div.codehilite > pre,
div.codehilite > pre > span.nb {
  color: white !important;
}
*/
div.codehilite > pre > span.nv {
/*  color: green;*/
}
